body {
    margin: 0;
    padding: 0;
    font-family: 'Raboto', sans-serif;
}
nav {
    position: sticky;
    text-align: right;
    display: block;
    block-size: 70px;
    background-color: black;
}
nav div{
    display: block;
    float: right;
    margin-top: 30px;
    margin-right: 7vmin;
    text-decoration: none;
}
nav a {
    color: white;
}
nav div a:hover {
    background-color: #555;
    color: white;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
#nav-bar {
    color: white;
}

h1 {
    text-align: center;
    padding: 20% 0% 0% 0%;
    font-size: 5rem;
    color: #d3d3d3;
    text-shadow: 1px 1px 4px #FF0000;
    
} 
h2 {
    font-family: 'Libre Barcode 39 Text', cursive;
    text-align: center;
    font-size: 4rem;
    padding: 0% 0% 20% 0%;
}
/* 
.animdated-words {
    display: inline-block;
}

.animated-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 

}
.animated-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
    
}
.animated-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
    -ms-animation-delay: 9s; 
    animation-delay: 9s; 
    
}
.animated-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    -ms-animation-delay: 12s; 
    animation-delay: 12s; 
    
}
.animated-words span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
    -ms-animation-delay: 15s; 
    animation-delay: 15s; 
    
}
.animated-words span:nth-child(7) { 
    -webkit-animation-delay: 18s; 
    -ms-animation-delay: 18s; 
    animation-delay: 18s; 
    
}
.animated-words span:nth-child(8) { 
    -webkit-animation-delay: 21s; 
    -ms-animation-delay: 21s; 
    animation-delay: 21s; 
    
}
.animated-words span:nth-child(9) { 
    -webkit-animation-delay: 24s; 
    -ms-animation-delay: 24s; 
    animation-delay: 24s; 
    
}
.animated-words span:nth-child(10) { 
    -webkit-animation-delay: 27s; 
    -ms-animation-delay: 27s; 
    animation-delay: 27s; 
    
}
.animated-words span {
    position: relative;
    opacity: 0;
    overflow: hidden;
    -webkit-animation: animateWord 18s linear infinite 0s;
    -ms-animation: animateWord 18s linear infinite 0s;
    animation: animateWord 18s linear infinite 0s;
}
@-webkit-keyframes animateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
    5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
    20% { opacity: 0; -webkit-transform: translateY(30px); }
    80% { opacity: 0; }
    100% { opacity: 0; }
}
 */

#blinker {
    display: inline;
    animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
	0%{		color: #000;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #000;	}
}
#welcome-section {

    background-color: cornflowerblue;
}